.createArticle {
  .header {
    height: 60px;
    box-sizing: border-box;
    padding: 0 27px;

    display: flex;
    align-items: center;
    .left {
      flex: 1;
      height: 100%;
      border: none;
      font-size: 24px;
      font-weight: 700;
      &::placeholder {
        font-size: 24px;
      }
    }
    .right {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }
}
